html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-primary {
  color: #00c72f !important;
}

.field-validation-error {
  color: red !important;
}

.btn-primary {
  color: #fff;
  background-color: #00c72f !important;
  border-color: #00c72f !important;
}

.bg-secondary {
  background-color: rgba(34, 42, 52, 1) !important;
}

.navbar-dark .navbar-toggler
{
  border: none !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 199, 47, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus
{
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}