@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to the <strong class="text-primary">Tax Calculator</strong></h1>
    <p>Head over to the 
        <a asp-area="" asp-controller="TaxCalculation" asp-action="Index" class="text-decoration-none text-primary"><strong>Tax Calculator</strong></a>
        or check out your
        <a asp-area="" asp-controller="TaxCalculation" asp-action="History" class="text-decoration-none text-primary"><strong>History</strong></a>.
        </p>
</div>